.img{
  width: 100%; /* This scales the image to fit the container's width */
  max-width: 100px; /* Ensures the image won't be larger than 400px wide */
  height: auto; /* Maintains aspect ratio */
}

.icon{
  width: 35px;
  height: auto;
  vertical-align: middle;
}

.divIcon{
  height: 40px;
  display: flex;
  align-items: center;
}