.img{
  width: 100%; /* This scales the image to fit the container's width */
  max-width: 100px; /* Ensures the image won't be larger than 400px wide */
  height: auto; /* Maintains aspect ratio */
}

.icon{
  width: 35px;
  height: auto;
  vertical-align: middle;
}

.divIcon{
  height: 40px;
  display: flex;
  align-items: center;
}

.search-container{
  width: 20%;
}

.search-input {
  font-family: "PoppinsRegular", sans-serif;
  border: none;
  outline: none;
  padding: 4px 0px;
  position: relative;
  background-color: transparent;
}

.underline{
  height: 1px;
  width: 100%;
  bottom: 0;
  background: rgba(73, 80, 87, 0.5);
  transition: background-color 0.2s ease; 
}


